frame_data
NN_TRAIN_DATA
result
test_img
test_videos
antispoofing_train_label.npy
antispoofing_train_list.npy
antispoofing_val_label.npy
antispoofing_val_list.npy
gen_dataset_merge_NUAA.py
gen_train_frame.py
gen_train_NUAA.py
gen_train_test_dataset.py
test.py
test_dual.py
train.py
train_dual.py
tt.py
antispoofing_model_resnet100